body,html
{
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
    overflow:hidden;
    background-color: #1D2E44;
}

.timer-container {
    display: flex;
    align-items: center;
    gap: 9px;
}


header { 
    display: flex;
    top: 0;
    background-color: #20314A;
    height: 50px;
    padding: 15px 5px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    position: absolute;
    z-index: 100;
}


header h1 {
    margin-right: auto;
    margin-left: 100px;
}

.round-info-header{
    display: flex;
    margin-right: 100px;
    gap: 350px;
    align-items: center;
}

header nav {
    display: flex;
    margin-right: 100px;
    gap: 150px;
}

header nav a {
    color: white;
    text-decoration: none;
    /* margin-right: 100px; */
}

.roundStatus{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
}

.reset-sv-button {
    position: fixed;
    right: 16px;
    bottom: 215px;
    color: #B3B3B3;
    text-align: center;
    background-color: #222222;
    /* width: 150px;
    height: 50px; */
    border-radius: 2px;
    z-index: 4;
    padding: 12px;
    cursor: pointer;
    line-height: 1.2;

}

.reset-sv-button:hover {
    color: #E6E6E6;
}


.map-guess-container, .sv-iframe {
    position: absolute;
}

.map-guess-container{
    position: absolute;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    bottom: 15px;
    left: 5px; 
    z-index: 5;
    width: 28%;
    height: 40%;
    margin-left: 12px;
    transform: translateX(0);
    transition: transform 0.5s ease, width 0.3s, height 0.3s;

}

.map-guess-container:hover{
    width: 58.8%;
    height: 84%;
    /* margin-left: 12px;
    bottom: 0; */
    bottom: 15px;
}

.map-guess-container.slide-away {
    transform: translateX(-120%);
    transition: transform 0.4s ease;
    margin: 0;
    /* padding: 0; */
}

#map {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 80%;
    border-radius: 8px;
}

#sv-iframe {
    /* After so much random stack overflowing, i fixed the little white bar on the right side of the iframe */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    display: block; 
    margin: 0 0 0 0;
}


.leaflet-container {
cursor: crosshair !important;
}

/* .game-button {
    background-color: #16DFC7;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
} */

.score-for-a-round-popup {
    width: 35%;
    background: white;
    border-radius: 8px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    border: 3px solid #4DC25E;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 10;
}

.open-popup {
    width: 60%;
    background: white;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    border: 3px solid #4DC25E;
    visibility: visible;
    pointer-events: auto;
    margin-top: 50px;
}

.score-for-a-round-popup h2 {
    font-size: 38px;
    font-weight: 600;
    margin: 30px 0px 10px;
    margin-bottom: 32px;
}
.score-for-a-round-popup p {
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0px 10px;
    margin-bottom: 32px;
}

.score-for-a-round-popup button {
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    background: #4DC25E;
    border-radius: 8px;
    border: none;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.submit-button {
    background-color: rgb(170, 204, 255);
    padding: 18px;
    color: #00171F;
    width: 100%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.7;

}

/* .submit-button:hover {
    background-color:  rgb(153, 183.6, 229.5);
} */

.pop-up-map {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.location-for-round-container {
    position: fixed;
    top: 20%;
    right: 10px;
    padding: 5px 20px;
    background-color: #09B4F7;
    border-radius: 8px;
    border: none;
    z-index: 1000;
    transition: transform 0.5s ease;
}

#location-round-info {
    color: #00171F;
    font-size: 17px;
    text-align: center;
    line-height: 1.5;

}

.location-for-round-container.slide-away {
    transform: translateX(120%);
    transition: transform 0.4s ease;
    margin: 0;
}


/* Landing Page CSS */

.landing-page {
    background-color: #1D2E44;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: center;
    width: 100%;
    height:350px;
    padding: 20px;
    background-color: none;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    color: white;
}

.login-bar h2 {
    font-size: xxx-large;
    margin-bottom: 35px;
}

.login-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

/* Optional: Style the input on focus */
.login-bar input:focus {
    border-color: #007BFF;
    outline: none;
}

.landing-image {
    position: absolute;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    width:100%;
    transform: translateY(-13%);
}

.game-modes {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-modes-submit {
    margin-bottom: 100px;
}

.game-mode-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    z-index: 1;
}

.game-mode-title {
    padding:15px;
    font-size: xx-large;
    z-index: 1;
    color: white;
}

.game-mode-option {
    width: 380px;
    height: 470px;
    /* min-height: 230px; */
    margin: 10px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FF5B00;
    color:white;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.game-mode-option input {
    display: none;
    height:20%;
    z-index: 1;
}

.game-mode-option input:checked + div,
.game-mode-option input:hover + div {
    background-color: #d909f4;
    transition: background-color 0.5s ease;
}

.game-mode-option div {
    transition: background-color 0.5s ease;
    padding: 27px;
    font-size: 30px;
}

.game-mode-desc {
    flex-grow: 1;
    overflow: hidden;
    background-color: #E6E6E6;
    color: black;
}

.start-button-container {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    z-index: 1000;
}

#game-button {
    background-color: #00171F;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#game-button:hover {
    background-color: #d909f4;
}
