body,html
{
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
    overflow: hidden;
    background-color: white;
}

.timer-container {
    display: flex;
    align-items: center;
    gap: 9px;
}


header { 
    display: flex;
    top: 0;
    background-color: #FDE112;
    /* dont ask me how/why 81.54 works */
    min-height: 81.54px; 
    width: 100%;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    position: fixed;
    z-index: 100;
}

.landing-page {
    color: black;
}

.round-number-points-small {
    display: none;
}

.map-guess-container{
    position: absolute;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    bottom: 15px;
    left: 15px; 
    z-index: 5;
    width: 350px;
    height: 300px;
    transform: translateX(0);
    transition: transform 0.5s ease, width 0.3s, height 0.3s;
}

.open-map-guess-container-button {
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    display: none;
}


.map-guess-container:hover{
    width: 70%;
    height: calc(100% - (50px + 60px));
    /* margin-left: 12px;
    bottom: 0; */
    bottom: 15px;
}

.close-map-button {

    display: none;

}



@media only screen and (max-width: 1360px) {

    header .round-info-header{
        display: flex;
        margin-right: 150px;
        gap: 200px;
        align-items: center;
        transition: gap 0.3s ease;
    }

    .map-guess-container {
        display: flex;
    }

}

@media only screen and (max-width: 1160px) {

    header .round-info-header{
        display: flex;
        margin-right: 150px;
        gap: 150px;
        align-items: center;
        transition: gap 0.3s ease;
    }

    .map-guess-container {
        display: flex;
    }

}

@media only screen and (max-width: 1060px) {
    header .round-info-header{
        display: flex;
        margin-right: 150px;
        gap: 125px;
        align-items: center;
        transition: gap 0.3s ease;
    }

    .map-guess-container {
        display: flex;
    }
}

@media only screen and (max-width: 1000px) {

    .map-guess-container {
        width: 260px;
        height: 250px;
        display: flex;
    }

    header h1{
        display: none;
    }
    
    header .round-info-header{
        display: flex;
        width: 100%;
        margin-right: 0;
        gap: 0;
        justify-content: space-around;
        align-items: center;
        transition: gap 0.3s ease;
        position: relative;
    }

}


header h1 {
    margin-right: auto;
    margin-left: 100px;
}

.round-info-header{
    display: flex;
    margin-right: 150px;
    gap: 300px;
    align-items: center;
    transition: gap 0.3s ease;
}

header nav {
    display: flex;
    margin-right: 100px;
    gap: 140px;
}

header nav a {
    color: black;
    text-decoration: none;
    /* margin-right: 100px; */
}

.roundStatus{
    display: flex;
    align-items: center;

}

.reset-sv-button {
    position: fixed;
    right: 16px;
    bottom: 215px;
    color: #B3B3B3;
    text-align: center;
    background-color: #222222;
    /* width: 150px;
    height: 50px; */
    border-radius: 2px;
    z-index: 4;
    padding: 12px;
    cursor: pointer;
    line-height: 1.2;

}

.reset-sv-button:hover {
    color: #E6E6E6;
}


.map-guess-container, .sv-iframe {
    position: absolute;
}

.map-guess-container.slide-away {
    transform: translateX(-120%);
    transition: transform 0.3s ease;
    margin: 0;
    /* padding: 0; */
}

#map {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#sv-iframe {
    /* After so much random stack overflowing, i fixed the little white bar on the right side of the iframe */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    display: block; 
    margin: 0 0 0 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.leaflet-container {
cursor: crosshair !important;
}

/* .game-button {
    background-color: #16DFC7;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
} */

.score-for-a-round-popup {
    width: 35%;
    background: white;
    border-radius: 8px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    border: 3px solid #4DC25E;
    visibility: hidden;
    transition: transform 0.3s, top 0.3s;
    z-index: 10;
}

.open-popup {
    width: 60%;
    background: white;
    border-radius: 8px;
    margin-top: 40.77px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    border: 3px solid #4DC25E;
    visibility: visible;
    pointer-events: auto;
}

.score-for-a-round-popup h2 {
    font-size: 38px;
    font-weight: 600;
    /* margin: 30px 0px 10px;
    margin-bottom: 32px; */
}
.score-for-a-round-popup p {
    font-size: 24px;
    font-weight: 545;
    /* margin: 30px 0px 10px;
    margin-bottom: 32px; */
}

.score-for-a-round-popup button {
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    background: #4DC25E;
    border-radius: 8px;
    border: none;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.submit-button {
    background-color: rgb(170, 204, 255);
    padding: 18px;
    color: #00171F;
    width: 100%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.7;

}

/* .submit-button:hover {
    background-color:  rgb(153, 183.6, 229.5);
} */

.pop-up-map {
    position: relative;
    width: 100%;
    height: 45vh;
    border-radius: 8px;
}

.location-for-round-container {
    position: fixed;
    top: 97px;
    right: 16px;
    padding: 5px 20px;
    background-color: #09B4F7;
    border-radius: 8px;
    border: none;
    z-index: 3;
    transition: transform 0.5s ease;
}

#location-round-info {
    color: #00171F;
    font-size: 17px;
    text-align: center;
    line-height: 1.5;

}

.location-for-round-container.slide-away {
    transform: translateX(120%);
    transition: transform 0.3s ease;
    margin: 0;
}


/* Landing Page CSS */


.login-container {
    display: flex;
    justify-content: center;
    /* gap: 25px; */
    margin-top: 80px;
    z-index: 1;
    background-color: #FDE112;
    width: 100%;
}


@keyframes flash {
    0% { background-color: black; }
    50% { background-color: transparent; }
    100% { background-color: black; }
}

.login-bar {
    padding: 0 65px;
}

.login-bar h2 {
    font-size: 60px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
}

.login-bar p {
    line-height: 1.8;
    margin-bottom: 35px;
}



.login-bar input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: white;
    border-radius: 8px;
    border: 3px solid black;
}

/* Optional: Style the input on focus */
.login-bar input:focus {
    outline: none;
}

.landing-image {
    flex-grow: 1;
    width: 60%;
    height: auto;
}


.game-modes {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-modes-submit {
    margin-bottom: 50px;
}

.leaderboard-box {
    margin-bottom: 50px;
}

.game-mode-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    z-index: 1;
}

.game-mode-title {
    padding:15px;
    font-size: xx-large;
    z-index: 1;
}

.game-mode-option {
    width: 380px;
    height: 470px;
    /* min-height: 230px; */
    margin: 10px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: black;
    color:white;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.game-mode-option input {
    display: none;
    height:20%;
    z-index: 1;
}

.game-mode-option input:checked + div,
.game-mode-option input:hover + div {
    background-color: #283EB4;
    transition: background-color 0.5s ease;
}

.game-mode-option div {
    transition: background-color 0.5s ease;
    padding: 27px;
    font-size: 30px;
}

.game-mode-desc {
    flex-grow: 1;
    overflow: hidden;
    background-color: #E6E6E6;
    color: black;
}

.start-button-container {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    z-index: 1000;
}

#game-button {
    background-color: #00171F;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#game-button:hover {
    background-color: #283EB4;
}

@media only screen and (max-width: 700px) {

    .map-guess-container {
        display: none;
        width: calc(100% - (30px));
        height: calc(100% - (50px + 60px));
        bottom: 15px;
        
    }

    .map-guess-container:hover{
        width: calc(100% - (30px));
        height: calc(100% - (50px + 60px));
        bottom: 15px;
        display: none;
    }

    .open-map-guess-container-button {
        position: fixed;
        bottom: 100px;
        left: 50px;
        z-index: 4;
        display: inline;
        width: 80px; 
        height: auto;
        cursor: pointer;
    }


    .close-map-button {
        z-index: 5;
        width: 40px;
        height: auto;
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0.8;
        display: inline;
    }

    header h1{
        display: none;
    }
    
    header .round-info-header{
        display: flex;
        width: 100%;
        margin-right: 0;
        gap: 0;
        justify-content: space-around;
        align-items: center;
        transition: gap 0.3s ease;
        position: relative;
    }

    .score-for-a-round-popup.open-popup {
        width: calc(100% - (65px));
        background: white;
        border-radius: 0px;
        position: absolute;
        top: 81.54px; 
        left: 50%;
        transform: translateX(-50%) scale(1);
        bottom: 0;
        text-align: center;
        padding: 0 30px 30px;
        color: black;
        border: 3px solid #4DC25E;
        visibility: visible;
        pointer-events: auto;
        margin-top: 0;
    }

    .score-for-a-round-popup h2 {
        font-size: 30px;
    }

    .score-for-a-round-popup p {
        font-size: 20px;
    }

    .score-for-a-round-popup.open-popup.pop-up-multiplier {
        display: none;
    }
}


    
